#drum-machine {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	width: 450px;
	height: 300px;
	border: 1px solid black;
	border-radius: 15px;
	margin: 250px auto;
	padding: 15px;
}

.top-container,
.mid-container,
.bottom-container {
	display: flex;
}

.drum-pad {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	font-size: 25px;
	line-height: 60px;
	margin: 5px;
	padding: 5px;
}

.drum-pad:hover {
	cursor: pointer;
	color: whitesmoke;
	background: lightseagreen;
}

#display {
	position: absolute;
	right: 0;
	width: 150px;
	height: 100px;
	text-align: center;
	font-size: 20px;
	line-height: 100px;
	margin: 80px 20px;
	border: 1px solid black;
	border-radius: 15px;
	padding: 10px;
}
